    <meta charset="utf-8">
	<meta name="author" content="Ondřej Pittl">
    <meta name="keywords" content="book, library, university">
    <meta name="description" content="Simply clear library book borrowing system. KIV/WEB, semester project 2014/15, University of West Bohemia (c) Ondřej Pittl">
    <title>{{ title }}</title>
    <!-- <base href="http://semestralka.ondrejpittl.cz/"> -->
    <base href="/semestralka/">
    <link rel="stylesheet" href="view/libs/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="view/libs/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="view/font/opensans/opensans_light_czech/stylesheet.css">
    <link rel="stylesheet" href="view/css/style.css">
    <link rel="stylesheet" href="view/libs/lightbox/css/lightbox.css">