<!DOCTYPE html>
<html>
<head>
	{% include 'header.html' with {'title':'Login'} %}
</head>
<body>
	<div id="frame">
		<header>
			<h1><span>univerzitní</span><br>KNIHOVNA</h1>
		</header>
		<div id="main">
			<nav id="top">
				<ul class="clearfix">
					<li data-link="signup"><a>zaregistrovat</a></li>
					<li  data-link="login" class="active"><a>přihlásit</a></li>
				</ul>
			</nav>
			<div id="content">
				<div>
					<span class="confirmation_message">{{ my_confirmation_message }}</span>
					<div class="error_message">{{ my_error_message|raw }}</div>
					
					{% if page_not_found is not defined and page_not_found != true %}
						{% if data is empty %}
							<!-- prvni nacteni, singup v poradku -->
							{% include 'forms/login_form.html' %}
						{% else %} 
							<!-- chybny singup -->
							<form method="post" id="signup">
								{% set val = "value=" %}

								<h2>Registrace</h2>
								<label for="signup_data[jmeno]"></label>
								<input type="text" placeholder="jméno" name="signup_data[jmeno]" {{ val ~ data['jmeno'] }}  required>
								<input type="text" placeholder="příjmení" name="signup_data[prijmeni]" {{ val ~ data['prijmeni'] }}  required>
								<input type="date"  name="signup_data[datum_narozeni]" {{ val ~ data['datum_narozeni'] }} placeholder="datum narození" required>
								<input type="text" placeholder="adresa" name="signup_data[bydliste_adresa]" {{ val ~ data['bydliste_adresa'] }}  required>
								<input type="text" placeholder="město" name="signup_data[bydliste_mesto]" {{ val ~ data['bydliste_mesto'] }}  required>
								<input type="email" placeholder="email" name="signup_data[email]" {{ val ~ data['email'] }}  required>
								<input type="text" placeholder="uživatelské jméno" name="signup_data[username]" {{ val ~ data['username'] }}  required>
								<input type="password" placeholder="heslo" name="signup_data[passwd]"  required>
								<input type="password" placeholder="heslo"  required>
								<input type="submit" value="Zaregistrovat se" name="signup">
							</form>	
						{% endif %}
					{% endif %}
				</div>
			</div>
			<nav id="bottom">
				<ul class="clearfix">
					<li><a href="browsing/">prohlížení</a></li>
					<li><a href="contact/">kontakt</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<script type="text/javascript" src="view/libs/jquery.js"></script>
	<script type="text/javascript" src="view/js/script.js"></script>
	<script type="text/javascript" src="view/libs/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="view/libs/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>