<form method="POST" id="search">
	<input type="submit" name="search_submit" value="hledat">
	<input type="text" name="search_data[nazev_knihy]" placeholder="název knihy">
	<input type="text" name="search_data[jmeno_autora]" placeholder="jméno autora">
	<input type="text" name="search_data[rok_vydani]" placeholder="rok vydání">
	<select name="search_data[zanr]">
		<option label=" "></option>
		{% for item in zanry %}
		    {% for key, value in item %}
		        <option label={{value}}> {{ value }} </option>
		    {% endfor %}
		{% endfor %}
	</select>
	<label for="search_data[dostupne]">dostupné<input id="search_data[dostupne]" type="checkbox" name="search_data[dostupne]"></label>
</form>