<form method="post" id="signup">
	<h2>Registrace</h2>
	<input type="text" placeholder="jméno" name="signup_data[jmeno]" required>
	<input type="text" placeholder="příjmení" name="signup_data[prijmeni]" required>
	<input type="date"  name="signup_data[datum_narozeni]" required>
	<input type="text" placeholder="adresa" name="signup_data[bydliste_adresa]" required>
	<input type="text" placeholder="město" name="signup_data[bydliste_mesto]" required>
	<input type="email" placeholder="email" name="signup_data[email]" required>
	<input type="text" placeholder="uživatelské jméno" name="signup_data[username]" required>
	<input type="password" placeholder="heslo" name="signup_data[passwd]" required>
	<input type="password" placeholder="heslo" required>
	<input type="submit" value="Zaregistrovat se" name="signup">
	<p id="output"></p>
</form>